<h2>Queue</h2>

<div>
<table>
<thead>
	<tr>
		<th>Track</th>
		<th>Album</th>
		<th>Artist</th>
	</tr>
<thead>
<tbody>
<% tracks.tracks.forEach(function(track){ %>
	<tr>
		<td><%= track.data.name %></td>
		<td><%= track.data.album.name %></td>
		<td><%= track.data.album.artist.name %></td>
		<% if(track.data.uri === current_track_uri) { %>
			<td class="remove-track playing" data-track-uri="<%= track.data.uri %>">remove</td>
		<% } else { %>
			<td class="remove-track" data-track-uri="<%= track.data.uri %>">remove</td>
		<% } %>
	</tr>
<% }) %>
</tbody>
</table>
</div>